.navbar-default {
	margin-bottom: 0px;
}
.dropdown-menu li a {
	cursor: pointer;	
}
#table td:nth-child(2) {
	text-align: center;
}
#table td {
	padding: 0px;
}
html {
	overflow: hidden;
}
.CodeMirror {
	height: calc(100vh - 150px);
}